@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;}

.container{
    width: 1120px;
    margin: auto;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
    align-items: center;
}

.justify-space-between{
    justify-content: space-between;
}

h1.logo{
    font-size: 30px;
    text-transform: uppercase;
}

ul.nav-menu li{
    padding: 20px;
}

ul.nav-menu li a{
    text-decoration: none;
    color: #29292999;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s ;
}

button.change-mode{
    border-radius: 0;
    background: #ea4020;
    font-size: 25px;
    padding: 8px 13px;
    color: #ffff;
    border-radius: 50%;
    cursor: pointer;
}

ul.nav-menu li:last-child{
    padding: 0;
}

.home-txt h2 {
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0;
    color: #333333;
}

.home-txt.home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home-txt h1 {
    font-size: 60px;
    padding: 20px 0;
    color: #292929;
    position: relative;
} 

.home-txt h1::after{
   content: ''; 
    width: 150px;
    height: 4px;
    background:#ea4020 ;
    position: absolute;
    left: 0;
    bottom: 0;
}

.home-txt{
    width: 450px;
}

.home-txt p {
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    padding-bottom: 40px;
}

.home-txt a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffff;
    background: #ea4020;
    padding: 15px 30px ;
    font-weight: 600;
    border-radius: 80px;
}

.home-txt h2 span {
    padding-left: 8px;
    border-right: 3px solid;
    font-size: 30px;
    font-weight: 500;
    animation: typer .75s step-end infinite;
}

@keyframes typer{
    from, to {border-color: transparent;}
    50%{border-color: #ea4020;}
}

.home-img{
    width: 450px;
    height: 450px;
    border: 15px solid;
    border-color: #292929;
    border-radius: 50% 50% 0% 50%;
    overflow: hidden;
}

.home-img img{
    width: 100%;
    height: 100%;
}

.home-img-border{
    position: relative;
    padding: 40px ;
    background:#ffffff ;
    border-radius: 50% 0% 0% 50%;
}

.home-img-border::after{
    content: '';
    width: 1800px;
    position: absolute;
    border: 15px solid;
    border-color: #ea4020;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 310px;
}

section.home{
    padding: 40px 0px 0px;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: #ffffffff;
    z-index: 1000;
    box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
}

ul.home-social{
    position: absolute;
    right: 10px;
    top: 230px;
}

ul.home-social li a i {
    padding: 8px;
    background: #f2f2f2;
    color: #292929;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: .3s ease-in;
}

ul.home-social li a:hover i {
    color: #ffffff;
    background: #ea4020;
}

.home-img-border::before{
    content: '';
    background: url(hu.jpg);
    position: absolute;
    left: -40px;
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: cover;
    top: 0;
    z-index: -100;
    animation: homeSpinner 140s linear infinite;
}



@keyframes homeSpinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

ul.nav-menu li a:hover {
     color: #292929;
}



/* About me */


section.about{
    background: #f7f6ff;
}

.title{
    text-align: center;
    text-transform: uppercase;
}

.title h1{
    font-size: 100px;
    font-family: 'poppins', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #292929;
    letter-spacing: 20px;
    opacity: 0.2;
    margin-bottom: -14px;
}

.title h2{
    font-family: 'inter', sans-serif, 'cursive';
    font-size: 50px;
    font-weight: 600;
    color: #292929;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h2::before{
    content: '';
    width: 40px;
    height: 4px;
    background: #ea4020;
}

.title h2::after{
    content: '';
    width: 40px;
    height: 4px;
    background: #ea4020;
}

.about-img img {
    width: 450px;
}

span.content-title{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    color: #292929;
    display: flex;
    align-items: center;
}

span.content-title::before{
    content: '';
    width: 3px;
    height: 20px;
    background: #ea4020;
    margin-right: 15px;
}

p.bold{
    font-weight: 500;
    font-size: 17px;
}

.content-item p {
    padding-top: 10px;
    line-height: 25px;
    color: #292929;
}

.about-contents{
    width: 600px;
}

.content-items{
    padding-top: 30px;
}

ul.expertise li { 
    padding: 10px 15px ;
    border: 1px solid;
    border-color: rgba(41, 41, 41, 0.1);
    border-radius: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #292929;
    background: #ffffff;
    background: 14px;
    transition: .3s ;
}

ul.expertise li:hover{
   border-color: rgb(47, 253, 236);
}

.content-items ul {
    flex-wrap: wrap;
}

ul.expertise-withhash li span{
    background: #ea4020;
    padding: 10px 11px;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 10px;
    font-size: 14px;
}

ul.expertise-withhash li {
    font-size: 16px;
    color: #292929;
    margin-right: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.align-flex-end{
    align-items: flex-end;
}

span.border-btm{
    border-bottom: 2px solid;
    border-color: rgba(41, 41, 41, 0.2);
}
.btm-svg{
    display: flex;
    padding-top: 40px;
}

/* Service */

.service-box-item{
    width: 350px;
    text-align: center;
    border: 1px solid;
    border-color: #e2e8f0;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 6px 24px 0 rgba(140, 152, 164,0.125);
    margin-bottom: 70px ;
    transition: .3s;
}

.box-icon i {
    font-size: 45px;
    color: #ffffffff;
}

.box-icon::before{
    content: '';
    border: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: #ea4020;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    z-index: -1;
    pointer-events: none;
}

.box-icon::after{
    content: '';
    border: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: #ea4020;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    z-index: -1;
    pointer-events: none;
}

.box-icon{
    position: relative;
    width: 100px;
    height: 63px;
    display: flex;
    margin: 0 auto 30px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 100;
    background: #ea4020;
    top: -55px;
    transition: .3s;
}

.service-box-details{
    margin-top: -30px;
}

h5.service-title{
    font-size: 18px;
    color: #292929;
    font-weight: 500;
    padding-bottom: 20px;
}

.service-box-details p {
    line-height: 25px;
    color: #292929;
}

.service-box{
    flex-wrap: wrap;
}

.padd-btm-100{
    padding-bottom: 100px;
}
.service-box-item:hover{
    border-color: #ea4020;
}

.service-box-item:hover .box-icon{
    top: -52px;
}

h1.m-0{
    margin: 0;
}

/* Experience */

.experience{
    background: #f7f6ff;
}

ul.experience-box{
    flex-direction: column;
    justify-content: center;
}

ul.experience-box li{
    width: 1000px;
    border: 1px solid;
    border-color: #e2e8f0;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    align-items: flex-start;
    box-shadow: 0px 6px 24px 0px rgba(140, 152, 164,0.125);
    background: #ffffff;
    transform: .4s;
}

.ex-date{
    background: #ea4020;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 40px;
}

.ex-detail{
    width: 700px;
    color: #555a64;
    font-size: 15px;
}

h4.ex-title{
    font-size: 17px;
    color: #292929;
    font-weight: 600;
}

.ex-detail p {
    padding: 10px 0px;
    line-height: 28px;
}

.ex-detail span{
    font-size: 14px;
}

ul.experience-box li:hover{
    border-color: #ea4020;
}

/* portfolio */

.portfolio-img{
    width: 320px;
    display: flex;
    position: relative;
}

.portfolio-img img {
    width: 100%;
    object-fit: cover;
}

button.slider-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0;
    color: #ffffff;
    background: #ea4020;
    font-size: 20px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .4s;
}

.portfolio-box{
    width: 550px;
    height: 250px;
    border: 1px solid;
    border-color: #e2e8f0;
    margin-bottom: 20px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 6px 22px 0 rgba(140, 152, 164, 0.1);
}

.portfolio-details{
    padding: 20px;
}

.portfolio-details h4 {
    font-size: 18px;
    color: #292929;
    font-weight: 600;
}

.portfolio-details p{
    color: #292929;
    font-size: 16px;
    padding: 15px 0px;
}

.portfolio-details span{
    padding: 8px 15px;
    border: 1px solid;
    border-color: #e2e8f0;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
    transition: .4s ;
}

.portfolio-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-details span:hover{
    border-color: rgba(41, 41, 41, 0.4);
}

button.slider-btn:hover{
    background: #29292929;
}

.lightbox{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(11, 11, 11, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
    cursor: zoom-out
}

img.lightbox-img{
    width: 700px;
    cursor: pointer;
}

.lightbox-close{
    position: absolute;
    top: 8px;
    right: 20px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.lightbox-control{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    font-size: 25px;
    z-index: -100;
}

.lightbox-control i {
    color: #ffffff;
    cursor: pointer;
}

.lightbox.open{
    display: flex;
}

.contain {
    background-color: #eee;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  div.form {
    background-color: #eee;
  }
  .contact-wrapper {
    margin: auto 0;
  }
  
  .submit-btn {
    float: left;
  }
  .reset-btn {
    float: right;
  }
  
  .form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #ec1c24;
  }
  
  .highlight-text {
    color: #ec1c24;
  }
  
  .hightlight-contact-info {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
  }
  
  .highlight-text-grey {
    font-weight: 500;
  }
  
  .email-info {
      margin-top: 20px;
  }
  
  ::-webkit-input-placeholder { /* Chrome */
    font-family: 'Roboto', sans-serif;
  }
  
  .required-input {
    color: black;
  }
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  .form-input:focus,
  textarea:focus{
    outline: 1.5px solid #ec1c24;
  }
  
  .form-input,
  textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  }
  
  .wrapper > * {
    padding: 1em;
  }
  @media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .wrapper > * {
      padding: 2em 2em;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    color: #212d31;
  }
  
  .form {
    background: #fff;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  
  .full-width {
    grid-column: 1 / 3;
  }
  
  button,
  .submit-btn,
  .form-input,
  textarea {
    padding: 1em;
  }
  
  button, .submit-btn {
    background: transparent;
    border: 1px solid #ec1c24;
    color: #ec1c24;
    border-radius: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
  }
  button:hover, .submit-btn:hover,
  button:focus , .submit-btn:focus{
    background: #ec1c24;
    outline: 0;
    color: #eee;
  }
  .error {
    color: #ec1c24;
  }
  
  #myFooter {
    background-color: #ea4020;
    padding: 20px;
    text-align: center;
  }
  
  #footerText {
    font-family: Algerian, sans-serif;
    color: white;
    font-size: 18px;
  }
    